*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;


}


.nav{
  height: 80px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  

}

.logo{
  height:40px;
  
}

.homei{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navc{
  display: flex;
  align-items: center;
  gap:5px;
  margin-left: 250px;
}

.ep{
  background-color: white;
  color: black;
  padding:10px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

.navl{
  display: flex;
  gap:20px;
  align-items: center;
  
  
}

.download{
  font-size: 5px;
}

.ia{
  background: none;
  color: gray;
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
}

.inneru{
  background-color: rgb(71, 144, 221);
  color: black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.user{
  background-color: #333;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  
  
}

input{
  background: none;
  border: none;
  color: #fff;
  font-size: large;
}

.searchc{
  display: flex;
  gap:200px;
  
  color: gray;
}

.searchicon{
  color: gray;
}


.search:hover .searchicon{
    color: white;
}

.archive:hover{
  color: white;
}

.white-hover:hover{
  color: white;
}

.gray{
  color: gray;
}

input:focus {
  outline: none;
}


.mainbody{
  margin-left: 10px;
  
}

.sidebar{
  background-color: #111;
  color: #fff;
  height: 100vh;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

.side-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.side-top-right{
  display: flex;
  gap: 20px;
  align-items: center;
  color: gray;
  font-size: small;
}

.left-top-round{
  background-color: #222;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-buttons-container{
  display: flex;
  gap: 10px;
  font-size: small;
}

.sidebar-buttons{
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  
}

.filters{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
 
}

.filters-right{
  display: flex;
  gap:5px;
  align-items: center;
}


.filters-right:hover{
  color: white;
}

.search-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: none;
}

.search-filter:hover{
  background-color: #333;
  color: white;
}

.right-round-hover{
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  
}

.right-round-hover:hover{
  background-color: #333;
  color: white;
}

.left-top-round:hover{
  color: white;
}


.content-container {
  padding: 5px;
  height: 80px; 
  display: flex;
  align-items: center;
  gap: 20px;
  transition: background-color 0.2s;
}


.playlist {
  width: 70px; 
  height: 70px; 
  flex-shrink: 0; 
}


.playlist-cover {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px;
}


.playlist-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.playlist-details h3 {
  margin: 0;
  font-size: 16px;
  color: #fff;
}

.playlist-details p {
  color: gray;
  font-size: 14px;
  margin: 0;
}


.content-container:hover {
  background-color: #333;
  cursor: pointer;
  border-radius: 8px;
}

.all-playlists{
  overflow-y: auto;
  scrollbar-width: thin;     
  scrollbar-color: #88888800 transparent;
  transition: 0.3s; 
}

.all-playlists:hover{
  scrollbar-color: #88888826 transparent; 
}

.mainbody{
  display: flex;
  gap: 10px;
  
}

.middle{
  background:#111;
  flex: 1;
  border-radius: 15px;
  padding:50px;
}

.songs-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.songs-heading span{
  color: gray;
  cursor: pointer;
  font-weight: bold;
  font-size: normal;
}

.songs-heading span:hover{
  text-decoration: underline;
}

.song-cover-wrapper{
  height: 200px;
  width:200px;
  flex-shrink: 0;
  position: relative;
}

.song-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  
}

.all-songs{
  display: flex;
  width:100%;
  overflow-x: auto;   
  overflow-y: hidden; 
  scrollbar-width: thin;
  scrollbar-color: #88888800 transparent;
  margin-top: 20px;
}


.all-songs:hover{
  scrollbar-color: #8888883c transparent;
}


.song-details{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.song-details span{
  color: gray;
  font-size: normal;
}

.play-btn{
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%); /* perfect center */
  opacity: 0;
  background: #1db954;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: black;
  font-size: 20px;
  cursor: pointer;
  transition: 1s;
}

.song-item:hover .play-btn{
  opacity: 1;
}

.song-item{
  padding:10px;
  transition: background-color 0.2s;
}

.song-item:hover{
  background-color: #333;
  cursor: pointer;
  border-radius: 8px;
}

.middle{
  overflow-x:auto ;
}


.songs-center{
  margin-bottom: 80px;
}


.artists-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artists-heading span{
  color: gray;
  cursor: pointer;
  font-weight: bold;
  font-size: normal;
}

.artists-heading span:hover{
  text-decoration: underline;
}

.artist-cover-wrapper{
  height: 200px;
  width:200px;
  flex-shrink: 0;
  position: relative;
  
}

.artist-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  border-radius: 50%;
  
}

.all-artists{
  display: flex;
  width:100%;
  overflow-x: auto;   
  overflow-y: hidden; 
  scrollbar-width: thin;
  scrollbar-color: #88888800 transparent;
  margin-top: 20px;
  gap:30px;
}


.all-artists:hover{
  scrollbar-color: #8888883c transparent;
}

.play-btn-artist{
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%); 
  opacity: 0;
  background: #1db954;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: black;
  font-size: 20px;
  cursor: pointer;
  transition: 1s;
}

.artist-item:hover .play-btn-artist{
  opacity: 1;
}

.artist-details{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.artist-details span{
  color: gray;
  font-size: normal;
}

.main-404{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111;
  flex-direction: column;
  gap: 30px;
  
  font-weight: bold;
}

.main-404 h1{
  font-size: 50px;
  color: #fff;
  font-weight: bold;
}


.main-404 span{
  color: gray;
  font-weight: bold;
  font-size: normal;
}

.home-404{
  background-color: white;
  color: black;
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
  height: 50px;
  font-size: 15px;
}

.main-404 p{
  cursor: pointer;
  
}

.main-404 p:hover{
  text-decoration: underline;
}

.signup-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111;
  
  
}

.signup img{
  height: 100px;
  width: 100px;
}

.signup-content h1{
  font-size: 50px;
  text-align: center;
}

.signup-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap:30px;
  align-items: center;
  width: 380px;
  
}

.container-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}


.signup-form{

  display: flex;
  flex-direction: column;
  gap: 10px;
 
  margin-top: 50px;
}

.email-input{
  border: 1px solid rgba(255, 255, 255, 0.363);
  width: 400px;
  height: 50px;
  border-radius: 5px;
  padding-left: 10px;
  background: none;
  color: white;
  font-size: 20px;
}


.email-input:hover{
  border-color: white;
}


.signup-btn {
  background: #1ed760;
  border: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 15px 40px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  
}

.signup-btn:hover{
  opacity: 0.9;
}


.options img{

  height: 30px;
  width: 30px;
}


.signup-option{
  background-color: #111;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 1000;
  padding:15px 40px;
  gap:70px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.363);
  width: 400px;
  font-size: 15px;
  
}

.signup-option:hover{
  border-color: white;
}

.other-options{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.acc-exists{
  margin-top:50px;
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
}

.acc-exists-login{
  background-color: #111;
  color: white;
  border: none;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}


.login-page{
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap:40px;
}

.login-top{
  display: flex;
  flex-direction: column;
  gap:20px;
}

.login-top h1 {
  font-size: 50px;
  color: #fff;
  font-weight: bold;
}

.login-form{
  
  display: flex;
  flex-direction: column;
  gap:10px;
  
  
}

.login-creds{
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.login-btn {
  background: #1ed760;
  border: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 15px 40px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  
}

.login-btn:hover{
  opacity: 0.9;
}


.no-account{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  
}

.no-account span{
  color: gray;
}

.no-account-signup{

  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: #111;
  border: none;
  cursor: pointer;
}


.footer{
  margin: 20px;
  border-radius: 20px;
  height: 100px;
  background: linear-gradient(to right, #8b23a8, #4c63d2);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  
}

.footer-con1{
  display: flex;
  gap:5px;
  flex-direction: column;
}

.footer-btn{
  background-color: white;
  color: black;
  border: none;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
}

.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background: rgba(0, 0,0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 100
}


.modal-content{
  display: flex;
  flex-direction: column;
  height:500px;
  width: 700px;
  background-color: #111;
  border-radius: 20px;
  padding: 30px;
  gap: 20px;
  
}


.modal-img-cover{
  width: 400px;
  height: 400px;
  margin-left: 115px;
  
}

.modal-song{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

audio{
  background-color: #00000000;
}