*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;


}


.nav{
  height: 80px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  

}

.logo{
  height:40px;
  
}

.homei{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navc{
  display: flex;
  align-items: center;
  gap:5px;
  margin-left: 250px;
}

.ep{
  background-color: white;
  color: black;
  padding:10px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

.navl{
  display: flex;
  gap:20px;
  align-items: center;
  
  
}

.download{
  font-size: 5px;
}

.ia{
  background: none;
  color: gray;
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
}

.inneru{
  background-color: rgb(71, 144, 221);
  color: black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.user{
  background-color: #333;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  
  
}

input{
  background: none;
  border: none;
  color: #fff;
  font-size: large;
}

.searchc{
  display: flex;
  gap:200px;
  
  color: gray;
}

.searchicon{
  color: gray;
}

.search:hover .searchicon{
    color: white;
}

.archive:hover{
  color: white;
}

.white-hover:hover{
  color: white;
}

.gray{
  color: gray;
}

input:focus {
  outline: none;
}


.mainbody{
  margin-left: 10px;
  
}

.sidebar{
  background-color: #111;
  color: #fff;
  height: 100vh;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

.side-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.side-top-right{
  display: flex;
  gap: 20px;
  align-items: center;
  color: gray;
  font-size: small;
}

.left-top-round{
  background-color: #222;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-buttons-container{
  display: flex;
  gap: 10px;
  font-size: small;
}

.sidebar-buttons{
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  
}

.filters{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
 
}

.filters-right{
  display: flex;
  gap:5px;
  align-items: center;
}


.filters-right:hover{
  color: white;
}

.search-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: none;
}

.search-filter:hover{
  background-color: #333;
  color: white;
}

.right-round-hover{
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  
}

.right-round-hover:hover{
  background-color: #333;
  color: white;
}

.left-top-round:hover{
  color: white;
}


.content-container {
  padding: 5px;
  height: 80px; 
  display: flex;
  align-items: center;
  gap: 20px;
  transition: background-color 0.2s;
}


.playlist {
  width: 70px; 
  height: 70px; 
  flex-shrink: 0; 
}


.playlist-cover {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px;
}


.playlist-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.playlist-details h3 {
  margin: 0;
  font-size: 16px;
  color: #fff;
}

.playlist-details p {
  color: gray;
  font-size: 14px;
  margin: 0;
}


.content-container:hover {
  background-color: #333;
  cursor: pointer;
  border-radius: 8px;
}

.all-playlists{
  overflow-y: auto;
  scrollbar-width: thin;     
  scrollbar-color: #88888800 transparent;
  transition: 0.3s; 
}

.all-playlists:hover{
  scrollbar-color: #88888826 transparent; 
}

.mainbody{
  display: flex;
  gap: 10px;
  
}

.middle{
  background:#111;
  flex: 1;
  border-radius: 15px;
}